.u-block-facf-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-facf-3 {
  position: absolute;
  left: 0;
  width: 65px;
  height: 65px;
  top: 443px;
  right: auto;
}

.u-block-facf-4 {
  position: absolute;
  width: 65px;
  height: 65px;
  left: auto;
  right: 0;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 827px;
}

.u-section-1-1 .u-shape-1 {
  width: 336px;
  left: 334px;
  background-image: none;
  right: auto;
}

.u-section-1-1 .u-image-1 {
  width: 784px;
  height: 588px;
  margin: 94px auto 0 123px;
}

.u-section-1-1 .u-group-1 {
  width: 556px;
  min-height: 381px;
  margin: -236px 0 0 auto;
}

.u-section-1-1 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-1-1 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0;
}

.u-section-1-1 .u-text-2 {
  line-height: 1.8;
  margin: 27px 0 0;
}

.u-section-1-1 .u-btn-1 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  border-style: none;
  background-image: none;
  margin: 27px auto 0 0;
}

.u-section-1-1 .u-shape-2 {
  width: 204px;
  height: 204px;
  background-image: none;
  margin: -783px auto 0 0;
}

.u-section-1-1 .u-btn-2 {
  margin: 30px 0 60px;
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 779px;
  }

  .u-section-1-1 .u-image-1 {
    width: 720px;
    height: 540px;
    margin-left: 0;
  }

  .u-section-1-1 .u-group-1 {
    margin-top: -188px;
  }

  .u-section-1-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 644px;
  }

  .u-section-1-1 .u-image-1 {
    width: 540px;
    height: 405px;
  }

  .u-section-1-1 .u-group-1 {
    width: 540px;
    margin-top: -53px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 494px;
  }

  .u-section-1-1 .u-shape-1 {
    left: 4px;
    right: auto;
  }

  .u-section-1-1 .u-image-1 {
    width: 340px;
    height: 255px;
  }

  .u-section-1-1 .u-group-1 {
    width: 340px;
    margin-top: 97px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 1.25rem;
  }
}

.u-section-1-2 .u-sheet-1 {
  min-height: 824px;
}

.u-section-1-2 .u-text-1 {
  font-size: 6rem;
  background-image: none;
  margin: 74px 0 0;
}

.u-section-1-2 .u-icon-1 {
  color: rgb(255, 255, 255) !important;
}

.u-section-1-2 .u-text-2 {
  font-size: 1.375rem;
  margin: 112px 43px 60px 74px;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-text-1 {
    font-size: 3rem;
  }
} .u-section-2 {
  background-image: none;
  min-height: 1545px;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-style: normal;
  margin: 60px 162px 0;
}

.u-section-2 .u-text-2 {
  text-transform: none;
  font-weight: 600;
  font-size: 3rem;
  margin: 27px 162px 0;
}

.u-section-2 .u-shape-1 {
  height: 202px;
  margin-top: 128px;
  margin-bottom: 0;
}

.u-section-2 .u-list-1 {
  width: 976px;
  margin: -281px auto 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 18px) calc(33.3333% - 18px) calc(33.3333% - 18px);
  grid-gap: 27px 27px;
  min-height: 1095px;
}

.u-section-2 .u-list-item-1 {
  box-shadow: -2px 8px 0 rgba(128,128,128,1);
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 20px 0;
}

.u-section-2 .u-image-1 {
  height: 228px;
  transition-duration: 0.5s;
  margin: 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.875rem;
}

.u-section-2 .u-text-4 {
  font-size: 1.125rem;
  background-image: none;
}

.u-section-2 .u-list-item-2 {
  box-shadow: -2px 8px 0 rgba(128,128,128,1);
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 20px 0;
}

.u-section-2 .u-image-2 {
  height: 228px;
  transition-duration: 0.5s;
  margin: 0;
}

.u-section-2 .u-text-5 {
  font-size: 1.875rem;
}

.u-section-2 .u-text-6 {
  font-size: 1.125rem;
  background-image: none;
}

.u-section-2 .u-list-item-3 {
  box-shadow: -2px 8px 0 rgba(128,128,128,1);
}

.u-section-2 .u-container-layout-3 {
  padding: 20px 20px 0;
}

.u-section-2 .u-image-3 {
  height: 228px;
  transition-duration: 0.5s;
  margin: 0;
}

.u-section-2 .u-text-7 {
  font-size: 1.875rem;
}

.u-section-2 .u-text-8 {
  font-size: 1.125rem;
  background-image: none;
}

.u-section-2 .u-list-item-4 {
  box-shadow: -2px 8px 0 rgba(128,128,128,1);
}

.u-section-2 .u-container-layout-4 {
  padding: 20px;
}

.u-section-2 .u-image-4 {
  height: 228px;
  transition-duration: 0.5s;
  margin: 0;
}

.u-section-2 .u-text-9 {
  font-size: 1.875rem;
}

.u-section-2 .u-text-10 {
  font-size: 1.125rem;
  background-image: none;
}

.u-section-2 .u-list-item-5 {
  box-shadow: -2px 8px 0 rgba(128,128,128,1);
}

.u-section-2 .u-container-layout-5 {
  padding: 20px 20px 0;
}

.u-section-2 .u-image-5 {
  height: 228px;
  transition-duration: 0.5s;
  margin: 0;
}

.u-section-2 .u-text-11 {
  font-size: 1.875rem;
}

.u-section-2 .u-text-12 {
  font-size: 1.125rem;
  background-image: none;
}

.u-section-2 .u-list-item-6 {
  box-shadow: -2px 8px 0 rgba(128,128,128,1);
}

.u-section-2 .u-container-layout-6 {
  padding: 20px;
}

.u-section-2 .u-image-6 {
  height: 228px;
  transition-duration: 0.5s;
  margin: 0;
}

.u-section-2 .u-text-13 {
  font-size: 1.875rem;
}

.u-section-2 .u-text-14 {
  font-size: 1.125rem;
  background-image: none;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 730px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 62px;
    margin-right: 62px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 62px;
    margin-right: 62px;
  }

  .u-section-2 .u-list-1 {
    width: 940px;
    height: auto;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 1054px;
  }

  .u-section-2 .u-list-item-1 {
    transition-duration: 0.5s;
  }

  .u-section-2 .u-image-1 {
    height: 219px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-3 {
    font-weight: 700;
    transition-duration: 0.5s;
    margin: 30px 0 0;
  }

  .u-section-2 .u-text-4 {
    transition-duration: 0.5s;
    transform: translateX(0px) translateY(-5px) scale(1);
    margin: 19px auto 0;
  }

  .u-section-2 .u-list-item-2 {
    transition-duration: 0.5s;
  }

  .u-section-2 .u-image-2 {
    height: 219px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-5 {
    font-weight: 700;
    transition-duration: 0.5s;
    margin: 30px 0 0;
  }

  .u-section-2 .u-text-6 {
    transition-duration: 0.5s;
    transform: translateX(0px) translateY(-5px) scale(1);
    margin: 19px auto 0;
  }

  .u-section-2 .u-list-item-3 {
    transition-duration: 0.5s;
  }

  .u-section-2 .u-image-3 {
    height: 219px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-7 {
    font-weight: 700;
    transition-duration: 0.5s;
    margin: 30px 0 0;
  }

  .u-section-2 .u-text-8 {
    transition-duration: 0.5s;
    transform: translateX(0px) translateY(-5px) scale(1);
    margin: 19px auto 0;
  }

  .u-section-2 .u-list-item-4 {
    transition-duration: 0.5s;
  }

  .u-section-2 .u-image-4 {
    height: 219px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-9 {
    font-weight: 700;
    transition-duration: 0.5s;
    margin: 30px 0 0;
  }

  .u-section-2 .u-text-10 {
    transition-duration: 0.5s;
    transform: translateX(0px) translateY(-5px) scale(1);
    margin: 19px auto 0;
  }

  .u-section-2 .u-list-item-5 {
    transition-duration: 0.5s;
  }

  .u-section-2 .u-image-5 {
    height: 219px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-11 {
    font-weight: 700;
    transition-duration: 0.5s;
    margin: 30px 0 0;
  }

  .u-section-2 .u-text-12 {
    transition-duration: 0.5s;
    transform: translateX(0px) translateY(-5px) scale(1);
    margin: 19px auto 0;
  }

  .u-section-2 .u-list-item-6 {
    transition-duration: 0.5s;
  }

  .u-section-2 .u-image-6 {
    height: 219px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-13 {
    font-weight: 700;
    transition-duration: 0.5s;
    margin: 30px 0 0;
  }

  .u-section-2 .u-text-14 {
    transition-duration: 0.5s;
    transform: translateX(0px) translateY(-5px) scale(1);
    margin: 19px auto 0;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 795px;
  }

  .u-section-2 .u-text-1 {
    width: 525px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 1816px;
  }

  .u-section-2 .u-image-1 {
    height: 256px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    height: 256px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-3 {
    height: 256px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-4 {
    height: 256px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-5 {
    height: 256px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-6 {
    height: 256px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: 58px;
    margin-right: 58px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 56px;
    margin-right: 56px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 168px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
    margin-top: -321px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 13.5px) calc(50% - 13.5px);
  }

  .u-section-2 .u-container-layout-1 {
    padding: 30px;
  }

  .u-section-2 .u-image-1 {
    height: 414px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 30px;
  }

  .u-section-2 .u-image-2 {
    height: 414px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-3 {
    padding: 30px;
  }

  .u-section-2 .u-image-3 {
    height: 414px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-4 {
    padding: 30px;
  }

  .u-section-2 .u-image-4 {
    height: 414px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-5 {
    padding: 30px;
  }

  .u-section-2 .u-image-5 {
    height: 414px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-6 {
    padding: 30px;
  }

  .u-section-2 .u-image-6 {
    height: 414px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-top: -124px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    font-size: 2.25rem;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-1 {
    height: 277px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-2 {
    height: 277px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-3 {
    height: 277px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-4 {
    height: 277px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-5 {
    height: 277px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-6 {
    height: 277px;
    margin-right: initial;
    margin-left: initial;
  }
}

.u-section-2 .u-image-1,
.u-section-2 .u-image-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-image-1 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-image-1 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-image-2,
.u-section-2 .u-image-2:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-image-2 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-image-2 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-image-3,
.u-section-2 .u-image-3:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-image-3 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-image-3 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-text-3,
.u-section-2 .u-text-3:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-text-3 {
  color: #223e92 !important;
  font-size: 30px !important;
}

.u-container-layout.hover .u-section-2 .u-text-3 {
  color: #223e92 !important;
  font-size: 30px !important;
}

.u-section-2 .u-text-5,
.u-section-2 .u-text-5:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-text-5 {
  color: #223e92 !important;
}

.u-container-layout.hover .u-section-2 .u-text-5 {
  color: #223e92 !important;
}

.u-section-2 .u-text-7,
.u-section-2 .u-text-7:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-text-7 {
  color: #223e92 !important;
}

.u-container-layout.hover .u-section-2 .u-text-7 {
  color: #223e92 !important;
}

.u-section-2 .u-text-4,
.u-section-2 .u-text-4:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-text-4 {
  transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-container-layout.hover .u-section-2 .u-text-4 {
  transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-2 .u-text-6,
.u-section-2 .u-text-6:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-text-6 {
  transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-container-layout.hover .u-section-2 .u-text-6 {
  transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-2 .u-text-8,
.u-section-2 .u-text-8:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-text-8 {
  transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-container-layout.hover .u-section-2 .u-text-8 {
  transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-2 .u-list-item-3,
.u-section-2 .u-list-item-3:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-list-item-3.u-list-item-3.u-list-item-3:hover {
  box-shadow: 2px 0 8px 0 rgba(128,128,128,1) !important;
}

.u-section-2 .u-list-item-3.u-list-item-3.u-list-item-3.hover {
  box-shadow: 2px 0 8px 0 rgba(128,128,128,1) !important;
}

.u-section-2 .u-list-item-1,
.u-section-2 .u-list-item-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-list-item-1.u-list-item-1.u-list-item-1:hover {
  box-shadow: 2px 0 8px 0 rgba(128,128,128,1) !important;
}

.u-section-2 .u-list-item-1.u-list-item-1.u-list-item-1.hover {
  box-shadow: 2px 0 8px 0 rgba(128,128,128,1) !important;
}

.u-section-2 .u-list-item-2,
.u-section-2 .u-list-item-2:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-list-item-2.u-list-item-2.u-list-item-2:hover {
  box-shadow: 2px 0 8px 0 rgba(128,128,128,1) !important;
}

.u-section-2 .u-list-item-2.u-list-item-2.u-list-item-2.hover {
  box-shadow: 2px 0 8px 0 rgba(128,128,128,1) !important;
}

.u-section-2 .u-text-10,
.u-section-2 .u-text-10:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-text-10 {
  transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-container-layout.hover .u-section-2 .u-text-10 {
  transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-2 .u-text-12,
.u-section-2 .u-text-12:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-text-12 {
  transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-container-layout.hover .u-section-2 .u-text-12 {
  transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-2 .u-text-14,
.u-section-2 .u-text-14:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-text-14 {
  transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-container-layout.hover .u-section-2 .u-text-14 {
  transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-2 .u-text-9,
.u-section-2 .u-text-9:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-text-9 {
  color: #223e92 !important;
}

.u-container-layout.hover .u-section-2 .u-text-9 {
  color: #223e92 !important;
}

.u-section-2 .u-text-11,
.u-section-2 .u-text-11:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-text-11 {
  color: #223e92 !important;
}

.u-container-layout.hover .u-section-2 .u-text-11 {
  color: #223e92 !important;
}

.u-section-2 .u-text-13,
.u-section-2 .u-text-13:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-text-13 {
  color: #223e92 !important;
}

.u-container-layout.hover .u-section-2 .u-text-13 {
  color: #223e92 !important;
}

.u-section-2 .u-image-4,
.u-section-2 .u-image-4:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-image-4 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-image-4 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-image-5,
.u-section-2 .u-image-5:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-image-5 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-image-5 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-image-6,
.u-section-2 .u-image-6:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-image-6 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-image-6 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-list-item-4,
.u-section-2 .u-list-item-4:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-list-item-4.u-list-item-4.u-list-item-4:hover {
  box-shadow: 2px 0 8px 0 rgba(128,128,128,1) !important;
}

.u-section-2 .u-list-item-4.u-list-item-4.u-list-item-4.hover {
  box-shadow: 2px 0 8px 0 rgba(128,128,128,1) !important;
}

.u-section-2 .u-list-item-5,
.u-section-2 .u-list-item-5:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-list-item-5.u-list-item-5.u-list-item-5:hover {
  box-shadow: 2px 0 8px 0 rgba(128,128,128,1) !important;
}

.u-section-2 .u-list-item-5.u-list-item-5.u-list-item-5.hover {
  box-shadow: 2px 0 8px 0 rgba(128,128,128,1) !important;
}

.u-section-2 .u-list-item-6,
.u-section-2 .u-list-item-6:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-list-item-6.u-list-item-6.u-list-item-6:hover {
  box-shadow: 2px 0 8px 0 rgba(128,128,128,1) !important;
}

.u-section-2 .u-list-item-6.u-list-item-6.u-list-item-6.hover {
  box-shadow: 2px 0 8px 0 rgba(128,128,128,1) !important;
} .u-section-3 {
  background-image: linear-gradient(white, #a9a9f8);
}

.u-section-3 .u-sheet-1 {
  min-height: 835px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 715px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  object-position: 50% 16.29%;
  background-position: 50% 16.29%;
  height: 461px;
  margin-top: 90px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 521px;
  transition-duration: 0.5s;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  line-height: 43px;
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  letter-spacing: 1px;
  line-height: 1.6;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-line-1 {
  width: 100px;
  height: 2px;
  margin: 34px auto 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.5rem;
  margin: 30px 0 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 550px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 590px;
  }

  .u-section-3 .u-image-1 {
    height: 371px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 430px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 449px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 452px;
  }

  .u-section-3 .u-image-1 {
    height: 271px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 714px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 678px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    height: 470px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 531px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 427px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-3 .u-image-1 {
    height: 289px;
  }
}

.u-section-3 .u-layout-cell-2,
.u-section-3 .u-layout-cell-2:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-layout-cell-2.u-layout-cell-2.u-layout-cell-2:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-layout-cell-2.u-layout-cell-2.u-layout-cell-2.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 138px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 136px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-4 .u-text-1 {
  font-size: 2.5rem;
  margin: 15px 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 138px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.875rem;
  letter-spacing: 2px;
  background-image: none;
  margin: 0 auto;
  padding: 10px 39px 10px 37px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 166px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 44px;
    padding-left: 22px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 126px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.75rem;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 493px;
}

.u-section-5 .u-list-1 {
  grid-template-rows: auto;
  margin: 1px 0 56px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 436px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 29px;
}

.u-section-5 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-5 .u-text-1 {
  margin: 21px 3px 0 0;
}

.u-section-5 .u-text-2 {
  margin: 26px auto 0;
}

.u-section-5 .u-text-3 {
  margin: 20px auto 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 29px;
}

.u-section-5 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-5 .u-text-4 {
  margin: 21px 3px 0 0;
}

.u-section-5 .u-text-5 {
  margin: 26px auto 0;
}

.u-section-5 .u-text-6 {
  margin: 20px auto 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 29px;
}

.u-section-5 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-5 .u-text-7 {
  margin: 21px 3px 0 0;
}

.u-section-5 .u-text-8 {
  margin: 26px auto 0;
}

.u-section-5 .u-text-9 {
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 25px;
  }

  .u-section-5 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    margin-right: 0;
  }

  .u-section-5 .u-text-7 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 125px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 981px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-text-3 {
    width: 141px;
    margin-top: 0;
  }

  .u-section-5 .u-text-6 {
    width: 141px;
    margin-top: 0;
  }

  .u-section-5 .u-text-9 {
    width: 141px;
    margin-top: 0;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 653px;
}

.u-section-6 .u-shape-1 {
  width: 483px;
  height: 652px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-layout-wrap-1 {
  width: 1072px;
  margin: -595px 0 58px auto;
}

.u-section-6 .u-image-1 {
  min-height: 538px;
  background-image: url("images/b4f60df5-647e-b99f-a687-ec47c26aa8691.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 538px;
}

.u-section-6 .u-container-layout-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 52px 0 0;
}

.u-section-6 .u-form-1 {
  height: 311px;
  width: 476px;
  margin: 19px 0 0;
}

.u-section-6 .u-label-1 {
  font-size: 1.125rem;
}

.u-section-6 .u-label-2 {
  font-size: 1.125rem;
}

.u-section-6 .u-label-3 {
  font-size: 1.125rem;
}

.u-section-6 .u-btn-1 {
  font-size: 1rem;
  letter-spacing: 2px;
  width: 100%;
  border-style: none;
  font-weight: 600;
  text-transform: uppercase;
}

@media (max-width: 1199px) {
  .u-section-6 .u-shape-1 {
    width: 411px;
    left: 0;
    right: auto;
    height: auto;
    margin: initial;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 883px;
    margin-top: 60px;
  }

  .u-section-6 .u-image-1 {
    min-height: 531px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 531px;
  }

  .u-section-6 .u-container-layout-2 {
    padding: 13px 29px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    font-style: italic;
    margin-top: 0;
  }

  .u-section-6 .u-form-1 {
    margin-top: 37px;
    width: 410px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 477px;
  }

  .u-section-6 .u-shape-1 {
    width: 219px;
    height: auto;
    margin: initial;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 675px;
  }

  .u-section-6 .u-image-1 {
    min-height: 506px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 506px;
  }

  .u-section-6 .u-form-1 {
    width: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1236px;
  }

  .u-section-6 .u-shape-1 {
    height: 416px;
    margin-top: 60px;
    margin-bottom: 0;
    width: auto;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 443px;
    margin-top: -356px;
    margin-right: auto;
    margin-bottom: -197px;
  }

  .u-section-6 .u-image-1 {
    min-height: 550px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 947px;
  }

  .u-section-6 .u-shape-1 {
    height: 283px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 280px;
    margin-top: -231px;
    margin-bottom: 60px;
  }

  .u-section-6 .u-image-1 {
    min-height: 298px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 471px;
  }
} .u-section-7 {
  background-image: none;
  min-height: 364px;
}

.u-section-7 .u-image-1 {
  height: 362px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-list-1 {
  width: 850px;
  margin: -291px auto 42px;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 14px) calc(33.3333% - 14px) calc(33.3333% - 14px);
  min-height: 251px;
  grid-gap: 21px 21px;
}

.u-section-7 .u-list-item-1 {
  background-image: none;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-7 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-7 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-7 .u-list-item-2 {
  background-image: none;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-7 .u-text-3 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-7 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-7 .u-list-item-3 {
  background-image: none;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-7 .u-text-5 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-7 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-7 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-7 {
    min-height: 421px;
  }
}

@media (max-width: 991px) {
   .u-section-7 {
    min-height: 598px;
  }

  .u-section-7 .u-image-1 {
    margin-top: 236px;
  }

  .u-section-7 .u-list-1 {
    width: 780px;
    margin-bottom: 47px;
  }

  .u-section-7 .u-repeater-1 {
    min-height: 245px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-top: 31px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-top: 31px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-top: 31px;
  }
}

@media (max-width: 767px) {
   .u-section-7 {
    min-height: 1700px;
  }

  .u-section-7 .u-image-1 {
    height: 508px;
  }

  .u-section-7 .u-list-1 {
    width: 540px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: calc(50% - 10.5px) calc(50% - 10.5px);
    min-height: 509px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
   .u-section-7 {
    min-height: 50vw;
  }

  .u-section-7 .u-image-1 {
    height: 315px;
    margin-top: 0;
  }

  .u-section-7 .u-list-1 {
    width: 340px;
    margin-top: -290px;
    margin-bottom: 13px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}